.router-outlet {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  min-width: 360px;
  max-width: 500px;
  padding: 10px 0;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer-flex{
  flex: 1 1 auto;
}

.hidden{
  display:none;
}

.active-link{
  color:  #8f9ef1 !important;
  font-weight: 500;
}
