.router-outlet {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 360px;
  width: 390px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer-flex{
  flex: 1 1 auto;
}

.hidden{
  display:none;
}

.active-link{
  color:  #8f9ef1 !important;
  font-weight: 500;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .router-outlet{max-width: 600px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .router-outlet{min-width: 600px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .router-outlet{min-width: 768px;}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .router-outlet{max-width: 1000px;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .router-outlet{max-width: 1000px;}
}

