<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink='/home' (click)="drawer.toggle()" routerLinkActive="active-link">Home</a>
      <a mat-list-item routerLink="/forms" (click)="drawer.toggle()" routerLinkActive="active-link">Forms</a>
    </mat-nav-list>
  </mat-sidenav> -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <span class="white-16-540">WST Owners Portal</span>
      <span class="spacer-flex"></span>
      <div>
        <span class="tiny-text-yellow">0.3</span>
      </div>
    </mat-toolbar>
    <div  class="router-outlet"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
