/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.card-title {
    h1 {
        font-weight: 500;
        font-size: 20px;
        margin: 0 0 10px;
    }
}