<div class="spacer-10"></div>
<span class="black-16-550">Maintenance Work Order</span><br />

<div class="col-container">
  <form [formGroup]="myForm" novalidate>
    <div class="form-container">
      <mat-form-field class="form-field">
        <mat-label>unit</mat-label>
        <mat-select
          formControlName="unitNum"
          (selectionChange)="unitSelectionHandler()"
        >
          <mat-option *ngFor="let item of userAccount.units" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>category</mat-label>
        <mat-select
          formControlName="category"
          (selectionChange)="catSelectionHandler()"
        >
          <mat-option *ngFor="let item of categories" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>description</mat-label>
        <textarea
          matInput
          formControlName="description"
          style="height: 200px"
        ></textarea>
        <mat-error *ngIf="handleError('description', 'required')">
          required
        </mat-error>
      </mat-form-field>

      <div class="button-container">
        <button
          type="button"
          [disabled]="!(myForm.valid && myForm.dirty)"
          mat-raised-button
          color="primary"
          (click)="submitBtn()"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
