
  <div class="card-content">
    <div class="card-header">
      <div class="card-header-text">Home</div>
    </div>

      <app-login-form *ngIf="!userAuthenticated"></app-login-form>

      <div *ngIf="userAuthenticated">

        <span class="black-16-550">User</span><br />
        <div class="divider-red"></div>
        <div class="small-black-14 flex-row-space-between">
          <div>
            <span class="small-black-text"></span>{{ userAccount.username }}<br>
            <span class="small-black-text">Cell: </span>{{ userAccount.cell }}<br>
            <span class="small-black-text">Email: </span>{{ userAccount.email }}
          </div>
          <div class="edit-button">
            <button type="button" mat-raised-button color="primary" 
            (click)="onEditUserAccount()">EDIT</button>
          </div>
        </div>
          <div class="spacer-10"></div>
          <span class="black-16-550">Owner<br /></span>
          <div class="divider-red"></div>

          <div class="small-black-14 flex-row-space-between">
            <div>
              <span>{{ ownerAccount.name }}</span><br>
              <span class="small-black-text">Street: </span>{{ ownerAccount.street }}<br>
              <span class="small-black-text">City: </span>{{ ownerAccount.csz }}<br>
              <span class="small-black-text">Email: </span>{{ ownerAccount.email }}<br>
              <span class="small-black-text">Cell: </span>{{ ownerAccount.cell }}
            </div>
            <div class="edit-button">
              <button type="button" mat-raised-button color="primary" 
              (click)="onEditUserAccount()">EDIT</button>
            </div>
          </div>

        <div class="spacer-10"></div>

        <span class="black-16-550">Units<br /></span>
        <div class="divider-red"></div>
        <div class="spacer-10"></div>

        <div>
          <form [formGroup]="unitSelectorForm" novalidate>
            <mat-form-field class="form-field">
              <mat-label>Choose a unit</mat-label>
              <mat-select
                formControlName="unitNum"
                (selectionChange)="unitSelectorHandler()"
              >
                <mat-option *ngFor="let u of userAccount.units" [value]="u">
                  {{ u }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>

        <span class="black-16-550">Forms<br /></span>
        <div class="divider-red"></div>
        <div class="spacer-10"></div>

        <div>
          <form [formGroup]="formSelectorForm" novalidate>
            <mat-form-field class="form-field">
              <mat-label>Choose a form</mat-label>
              <mat-select
                formControlName="form"
                (selectionChange)="formSelectorHandler()"
              >
                <mat-option *ngFor="let f of formList" [value]="f">
                  {{ f }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="spacer-10"></div>

      
      <mat-card-footer></mat-card-footer>

  </div>

